$primary: #409eff;
$success: #67c23a;
$warning: #e6a23c;
$danger: #f56c6c;
$info: #909399;

// Text
$primary-text: #303133;
$regular-text: #606266;
$secondary-text: #909399;

// Borders
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;

// Background
$background-b: #000000;
$background-w: #000000;
